/**
 * Style Parsoid HTML+RDFa output consistent with wikitext from PHP parser.
 */

/**
 * References
 *
 * Parser and Extension:Cite output reference numbers for <sup>[1]</sup> for <ref> tags.
 *
 * Markup:
 * Cake is good<sup>[2]</sup>
 * The cake is a lie<span class="reference">[1]</span>
 *
 * Styleguide 1.1.
 */
span.reference {
	font-size: smaller;
	line-height: normal;
	vertical-align: super;
}

/**
 * Block media items
 */
figure[typeof*='mw:Image'] {
	margin: 0;

	a {
		border: 0;
	}

	&.mw-halign-right {
		/* @noflip */
		margin: .5em 0 1.3em 1.4em;
		/* @noflip */
		clear: right;
		/* @noflip */
		float: right;
	}

	/* @noflip */
	&.mw-halign-left {
		/* @noflip */
		margin: .5em 1.4em 1.3em 0;
		/* @noflip */
		clear: left;
		/* @noflip */
		float: left;
	}

	&.mw-halign-center {
		margin-left: auto;
		margin-right: auto;
	}

	figcaption {
		display: table-caption;
		caption-side: bottom;
		/* In mw-core the font-size is duplicated, 94% in thumbiner
		   and again 94% in thumbcaption. 88% for font size of the
		   caption results in the same behavior. */
		font-size: 88%;
		line-height: 1.4em;
		text-align: left;

		/* taken from .thumbcaption */
		padding: 3px;
	}
}

figure[typeof~='mw:Image/Thumb'], figure[typeof~='mw:Image/Frame'] {
	display: table;
	overflow: hidden;
	text-align: center;
	padding: 3px;
}
